{% extends 'base.html' %}
{% block title %}Delete Event{% endblock %}
{% block content %}
<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Delete Event</h2>          
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container mt-4">        
        <form method="post">
            {% csrf_token %}
            <h2>Are you sure you want to delete "{{ object }}"?</h2>
            {{ form }}
            <input type="submit" class="contact-button" value="Confirm">
        </form>
    </div>
</main>
{% endblock %}