{% extends 'base.html' %}
{% block title %}New Event{% endblock %}
{% block content %}  
<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>New Event</h2>          
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container mt-2">
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'events/_form.html' %}
            <input type="submit" class="contact-button" value="Save">
        </form>
    </div>    
</main>
{% endblock %}