{% extends 'base.html' %}
{% block title %}Edit Event{% endblock %}
{% block content %}  
<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Edit Event</h2>          
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container mt-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-2">
                {{ form.title.label_tag }}    
                {{ form.title }}
            </div>
            <div class="mb-2">
                {{ form.text.label_tag }}    
                {{ form.text }}
            </div>       
            <div class="mb-2">
                {{ form.date.label_tag }}    
                {{ form.date }}
            </div>
            <div class="mb-2">
                {{ form.image.label_tag }}
                {{ form.image }}                
            </div>
            <img src={{ event.image.url }} width="100" height="60">
            <div class="mt-2">
                <input type="submit" class="contact-button" value="Update">
            </div>    
        </form>
    </div>    
</main>
{% endblock %}