{% extends 'base.html' %}
{% block title %}Edit Event{% endblock %}
{% block content %}  
<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Edit Event</h2>          
        </div>
    </div><!-- End Breadcrumbs -->
    <div class="container mt-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'events/_form.html' %}
            <p>Current Image: {{ event.image.url }} </p>
            <div class="mt-2">
                <input type="submit" class="contact-button" value="Update">
            </div>    
        </form>
    </div>    
</main>
{% endblock %}